:root {
  --right-con-bg-color: #f0f0f0;
}
.rightCon {
  height: 100%;
  flex-grow: 1;
  background-color: var(--right-con-bg-color);
  padding: 16px;
  overflow: auto;
  min-width: 1100px;
  padding-bottom: 42px;
}
