.topHeader {
    background-color: #2d2d2d;
    height: 42px;
    padding-left: 0px;
    border-bottom: 1px solid #666;
    display: flex;
    .logo {
        width: 225px;
        display: flex;
        height: 42px;
        padding-left: 20px;
        cursor: pointer;
        .logoImg {
            display: block;
            width: 32px;
            height: 32px;
            margin-top: 5px;
            margin-right: 10px;
        }
        .logoText {
            height: 42px;
            line-height: 42px;
            color: #fff;
            min-width: 163px;
        }

    }
    .checkedNav {
        height: 42px;
        line-height: 42px;
        background-color: #656565;
        color: #fff;
        padding:0 10px 0 10px;
        border-radius: 5px;
    }
    .tip {
        color: #f66;
        line-height: 42px;
        padding-left: 20px;
    }
}