@import "../../../global.less";
.alreadyEnv {
  .inputArea {
    .inputAreaItem {
      padding: 20px;
      padding-bottom: 0px;
    }
  }
}
.talbeArea {
  padding: 10px;
  background-color: #fff;
}
