.mockUve {
  width: calc(100% - 256px);
  height: 100%;
  flex-grow: 1;
  background-color: #f0f0f0;
  padding: 10px;
  overflow: auto;
  .mockUveItem {
    min-width: 1100px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    .mockUveItemSelect {
      width: 200px;
      margin-right: 10px;
    }
  }
  .jsonEdit {
    display: flex;
    width: 100%;
    .jsonShow {
      width: 50%;
      border: 1px solid #f0f0f0;
      background-color: #fff;
      padding: 10px;
      height: 300px;
      overflow: auto;
      .json-pretty {
        overflow: auto;
      }
      .json-number {
        color: #fd8c25;
      }
      .json-key {
        color: #fc1d26;
      }
      .json-string {
        color: #40943b;
      }
    }
  }
}
